<ion-view view-title="{{deal.name}}">

  <ion-content class="deal-detail-content" scroll="false">

    <div class="overlay" ng-class="slideboxClass"></div>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="false" auto-play="false" show-pager="false">

      <ion-slide ng-repeat="deal in deals">
        <div class="deal-detail" ng-if="deal.visible">
          <div class="deal-detail-top">
            <div class="deal-detail-prev" ng-click="goToPreviousDeal()">
              <i class="icon ion-ios-arrow-left" ng-if="deal.previous"></i>
            </div>
            <div class="deal-detail-prev" ng-if="!deal.previous"></div>
            <div class="deal-detail-main">
              <div class="deal-detail-illustration" style="background: transparent url('{{deal.image.medium}}') no-repeat; background-size: contain; background-position: center;" ng-click="openModal()">
              </div>
              <div class="deal-detail-description">
                <p>{{deal.description}}</p>
              </div>
            </div>
            <div class="deal-detail-next" ng-click="goToNextDeal()">
              <i class="icon ion-ios-arrow-right" ng-if="deal.next"></i>
              <ion-spinner ng-if="!deal.next && deal.nextPage"></ion-spinner>
            </div>
          </div>
          <div class="deal-detail-bottom">
            <div class="deal-detail-expiration">
              Valide jusqu'au {{deal.end_date | date:'d MMMM'}}
            </div>
            <div class="deal-detail-brand-avatar">
              <div class="half-col">&nbsp;</div>
              <div class="brand-avatar-container">
                <img class="brand-avatar" src="{{deal.shop.logo.thumb || 'img/missing.png'}}">
              </div>
            </div>
            <div class="deal-detail-location" ng-click="goToMap()">
              {{deal.shop.city}}
              <i class="icon ion-ios-location-outline"></i>
              {{deal.shop.address}}
            </div>
          </div>
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>

</ion-view>
