<ion-view view-title="{{(category.name) || 'Offres'}}" ng-class="loadingClass">
<ion-content>
<ion-refresher on-refresh="onRefresh()">
</ion-refresher>
<p ng-hide="deals.length" class="deals-empty">Aucune offre pour le moment :(</p>
<ion-list>
<ion-item class="deal item-thumbnail-left item-icon-right" ng-class="{'star': deal.star}" ng-repeat="deal in deals" type="item" href="#/tab/deals/{{deal.id}}">
<div class="row">
  <!-- <div class="col col-20 col-center deal-col-category-avatar">
    <img src="{{deal.shop.logo || 'img/missing.png'}}">
  </div> -->
  
  <!-- <div class="col col-20 col-center deal-col-category-avatar"> -->
  <img class="shop-logo-thumbnail" ng-src="{{deal.shop.logo || 'img/missing.png'}}">
  <!-- </div> -->
  <div class="col col-25 col-center deal-col-brand-avatar">
    <div class="half-col">&nbsp;</div>
    <div class="brand-avatar-container">
      <img class="brand-avatar" ng-src="{{deal.shop.category.logo}}">
    </div>
  </div>
  <div class="col col-60 col-offset-25 deal-description-col">
    <h2>{{deal.name}}</h2>
    <p class="shop-name">{{deal.shop.name}}</p>
    <div class="deal-details">
      <!-- <p>
        <i class="icon"></i>
        <span>{{deal.end_date | date:'d MMMM'}}</span>
      </p> -->
      <p>
      <i class="city-deals icon ion-ios-clock-outline"></i>
        <span>du {{deal.start_date | date:'d MMMM'}} au {{deal.end_date | date:'d MMMM'}}</span>
      </p>
      <p>
        <i class="city-deals icon ion-ios-location-outline"></i>
        <span class="city-deals-line">{{deal.shop.city}}</span>
      </p>
    </div>
  </div>
  <div class="col col-5 col-center">
    <i class="icon ion-chevron-right col-center"></i>
  </div>
</div>
<button class="button button-clear icon ion-star button-royal" ng-click="toggleStar(deal)" ng-show="deal.star"></button>

<ion-option-button class="button-royal" ng-click="toggleStar(deal)">
<i class="icon ion-star"></i>
</ion-option-button>


</ion-item>
</ion-list>
<ion-infinite-scroll on-infinite="loadMore()" immediate-check="false" distance="1%" ng-if="nextPage">
</ion-infinite-scroll>
</ion-content>
</ion-view>